# Define each variable appropriately and rename this file to .env, it will be used by compose.yaml

# The user ID the container(s) will run as
UID=1000
# The group ID the container(s) will run as
GID=1000

# Base path on the host for all persistent Docker data (volumes)
DOCKER_VOLUMES=/path/to/your/docker/volumes

# API settings for the backend LLM service
OPENAI_API_BASE_URL=https://openrouter.ai/api/v1
OPENAI_API_KEY=your_api_key_here

# A secure key for encryption
# https://docs.openwebui.com/reference/env-configuration/#webui_secret_key
WEBUI_SECRET_KEY=your_secure_string

# The hostname you access OpenWebUI on
OPENWEBUI_HOST=openwebui.yourdomain.com